<h3 class="heading">{{editing  ? "Edit" : "Create"}} Session</h3>

<form   (ngSubmit)="save()">

    <mat-form-field *ngIf="editing">
        <mat-label>ID</mat-label>
        <input matInput name="id" [(ngModel)]="session.MassageServiceId" disabled />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Customer Name</mat-label>
        <input matInput required  name="name" [(ngModel)]="session.CustomerName" />

        
    </mat-form-field>

    <mat-form-field  >
  <mat-label>Select a Service</mat-label>
  <mat-select required [(value)]="session.MassageServiceId" style="width: 50%;" >
    <mat-option *ngFor="let item of massageServiceLookup" 
    [value]="item.massageServiceId">{{ item.serviceName }}</mat-option>
  </mat-select>
</mat-form-field>

    <button [disabled]="isProcessing" type="submit" mat-flat-button color="primary">
        {{editing ? "Save" : "Create"}}
    </button>
    <button [disabled]="isProcessing" type="reset" mat-stroked-button  routerLink="/admin/main/products">
        Cancel
    </button>
</form>
